  <div class="container">
  <div class="row">
    <div class="col-sm" id="todo" style="background-color: rgba(12, 12, 150, 0.856); margin-top: 20px;>
      <h2 style="color:white;"></h2>   
      <h2 style="color:white; font-family: 'Staatliches', cursive; text-align: center;">To-Do List!</h2>         
      
      <h4 style="color:white; font-family: 'Staatliches', cursive; text-align: center;">Add a to-do</h4>
      <form id="createplan" class="button-size" style="text-align: center;">
        <textarea rows="1" cols="30" type="text" name="plan" placeholder="Walk the dog..."></textarea>
        <br>
        <button type="submit" class="btn btn-ligt" style="font-family: 'Staatliches', cursive;">Save to-do!</button>
      </form>
      <br>

      <h4 style="color:white; font-family: 'Staatliches', cursive; text-align: center;">Update a to-do</h3>
      <form id="updateplan" class="button-size" style="text-align: center;">
        <select name="id">
          {{#each plans}}
            <option value="{{this.id}}">{{this.plan}}</option>
          {{/each}}
        </select>
        <textarea rows="1" cols="30" type="text" name="plan" placeholder="Reschedule that..."></textarea>
        <br>
        <button type="submit" class="btn btn-light" style="font-family: 'Staatliches', cursive;">Update Plan!</button>
        <br>
      </form>

      <br>

      <ul style="list-style-type: none; color:white; font-family: 'Staatliches', cursive;">
        {{#each plans}}
        <li>
          <p>
            {{this.id}}. {{this.plan}}
            <button data-planid="{{this.id}}" class="delplan">Delete</button>
          </p>
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="col-sm">
      Second column
    </div>
    <div class="col-sm">
      3rd column
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">Column</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".delplan").on("click", function(event) {
    var id = $(this).data("planid");

    // Send the DELETE request.
    $.ajax("/todos/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createplan").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=plan] will find an element with a "name" attribute equal to the string "plan"
    var newPlan = {
      plan: $("#createplan [name=plan]").val().trim()
    };

    // Send the POST request.
    $.ajax("/todos", {
      type: "POST",
      data: newPlan
    }).then(
      function() {
        console.log("created new plan");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updateplan").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $("[name=id]").val().trim();

    var updatedPlan = {
      plan: $("#updateplan [name=plan]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/todos/" + id, {
      type: "PUT",
      data: updatedPlan
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>